<div class="d-flex justify-content-between">
  <h6 class="mt-3 mb-3 px-4">{{pageTitle}}</h6></div>
<app-data-table
  [isActions]="true"
  [cols]="cols"
  [data]="blogs"
  (actionClicked)="callAction($event)"
  [conditionalAction]="changeBlogStatusAction"
></app-data-table>

<p-dialog
  [(visible)]="display"
  [dismissableMask]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [header]="action + ' ' + pageTitle"
>
  <app-blog-dialog-content
    *ngIf="display"
    [apiString]="apiString"
    [action]="action"
    [blogId]="blogId"
    (closeDialog)="close()"
  ></app-blog-dialog-content>
</p-dialog>

<p-confirmDialog
  acceptButtonStyleClass="bg-success px-3 py-2"
  rejectButtonStyleClass="bg-danger me-3 px-3 py-2"
  acceptLabel="Yes"
  rejectLabel="No"
  [style]="{ width: '450px' }"
></p-confirmDialog>
