.g-border {
  border-bottom: 1px solid #006666!important;
}
.custom-border {
  border-left: 8px solid #006666;
  border-radius: 8px;
}
.custom-bg {
  background-color: #f6f6f6;
}
.remove-btn {
  border-width: 0!important;
}

:host ::ng-deep{ 
  .p-dialog-footer {
    display: flex;
    justify-content: space-between;
  }
  .p-element {
    padding: revert-layer !important;
  }
}

:host ::ng-deep{ 

  .warnDelete {
    color: red !important;
    font-size: 12px !important;
    line-height: normal;
  }
}