.btn:focus {
  box-shadow: none;
}

p-table th {
  font-size: 14px;
}

p-table td {
  font-size: 14px;
}

.users-table th,
.users-table td {
  text-align: center;
}

th,
td {
  text-align: center;
}
::ng-deep div.p-paginator {
  margin-right:0!important;
}
