<p-toast position="top-right"></p-toast>
<div class="d-flex justify-content-between">
  <h6 class="mt-3 mb-3 px-4">Edit {{pageTitle}} Page</h6>
</div>
<div class="">
  <!-- header section -->
  <div class="mb-4 custom-border ps-3 py-3 custom-bg">
    <h5 class="mb-2">header</h5>
    <div class="d-flex flex-column">
      <div class="w-50 mt-md-0 mt-2 d-flex align-items-center">
        <app-file-uploader
          [changeFile]="headerImage.image ? true : false"
          (fileUploaded)="fileUploaded($event, 'headerImage')"
        ></app-file-uploader>
        <p-image
          class="w-full d-block ms-2"
          [src]="
            headerImage.base64Image
              ? 'data:image/*;base64,' + headerImage.base64Image
              : headerImage.image
          "
          width="80"
          *ngIf="headerImage.image"
          [preview]="true"
        ></p-image>
      </div>
      <div class="w-50 d-flex flex-column mt-3">
        <label for="headerLabel" class="me-2 fw-bold text-dark"> Label </label>
        <input
          id="headerLabel"
          pInputText
          type="text"
          [(ngModel)]="headerLabel"
        />
      </div>
      <div class="w-50 d-flex flex-column mt-3">
        <label for="headerLabelAr" class="me-2 fw-bold text-dark">
          Label Arabic</label
        >
        <input
          id="headerLabelAr"
          pInputText
          type="text"
          [(ngModel)]="headerLabelAr"
        />
      </div>
    </div>
  </div>
  <!-- Intro Section -->
  <div class="mb-4 custom-border ps-3 py-3 custom-bg">
    <h5 class="mb-2">Intro</h5>
    <div class="d-flex flex-column">
      <div class="w-50 d-flex flex-column mt-3">
        <label for="IntroLabel" class="me-2 fw-bold text-dark"> Title </label>
        <input
          id="title"
          pInputText
          type="text"
          [(ngModel)]="title"
        />
      </div>
      <div class="w-50 d-flex flex-column mt-3">
        <label for="headerLabelAr" class="me-2 fw-bold text-dark">
          Paragraph</label
        >
        <textarea
          id="paragraph"
          pInputTextarea
          type="text"
          [(ngModel)]="paragraph"
        ></textarea>
      </div>
    </div>
  </div>
  <!-- members section -->
  <div class="mb-4 custom-border ps-3 py-3 custom-bg">
    <div class="d-flex mebers flex-column">
      <h5>Members</h5>
    </div>
    <div
      class="d-flex flex-column mt-2 rounded p-2"
      *ngFor="let member of members; let i = index"
    >
      <div
        class="col-md-6 col-10 mt-md-0 mt-2 d-flex flex-md-nowrap flex-wrap align-items-center"
      >
        <app-file-uploader
          [uploaded]="member.base64Image ? true : false"
          [changeFile]="member.image ? true : false"
          (fileUploaded)="handleMembersArr([], 'IMAGE', i, $event)"
        ></app-file-uploader>
        <p-image
          class="w-full d-block ms-2 pr-50"
          [src]="
            member.base64Image
              ? 'data:image/*;base64,' + member.base64Image
              : member.image
          "
          width="80"
          *ngIf="member.image"
          [preview]="true"
        ></p-image>
        <div class="d-flex justify-content-center">
          <div class="services__two-arrow t-right sm-t-center pl-10">
            <div class="services__two-arrow-prev swiper-button-prev" (click)="moveUp(i)">
              <i class="fal fa-long-arrow-up"></i>
            </div>
            <div class="services__two-arrow-next swiper-button-next" (click)="moveDown(i)">
              <i class="fal fa-long-arrow-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="w-50 d-flex flex-column mt-2">
        <label [for]="members[i].name" class="me-4 fw-bold text-dark">
          Name
        </label>
        <input
          [id]="members[i].name"
          pInputText
          type="text"
          [(ngModel)]="member.name"
        />
      </div>
      <div class="w-50 d-flex flex-column mt-2">
        <label [for]="members[i].nameAr" class="me-4 fw-bold text-dark">
          Name Arabic
        </label>
        <input
          [id]="members[i].nameAr"
          pInputText
          type="text"
          [(ngModel)]="member.nameAr"
        />
      </div>
      <div class="w-50 mt-4 mt-md-0 d-flex flex-column">
        <label [for]="members[i].role" class="me-2 mt-3 fw-bold text-dark">
          Role
        </label>
        <input
          [id]="members[i].role"
          pInputText
          type="text"
          [(ngModel)]="member.role"
        />
      </div>
      <div class="w-50 mt-4 mt-md-0 d-flex flex-column">
        <label [for]="members[i].roleAr" class="me-2 mt-3 fw-bold text-dark">
          Role Arabic
        </label>
        <input
          [id]="members[i].roleAr"
          pInputText
          type="text"
          [(ngModel)]="member.roleAr"
        />
      </div>
      <div class="w-50 mt-4 d-flex flex-column">
        <label [for]="members[i].bio" class="fw-bold text-dark"> Bio </label>
        <textarea
          [id]="members[i].bio"
          pInputTextarea
          type="text"
          [(ngModel)]="member.bio"
        ></textarea>
      </div>
      <div class="w-50 mt-4 d-flex flex-column">
        <label [for]="members[i].bioAr" class="fw-bold text-dark">
          Bio Arabic</label
        >
        <textarea
          [id]="members[i].bioAr"
          pInputTextarea
          type="text"
          [(ngModel)]="member.bioAr"
        ></textarea>
      </div>
      <div class="add w-100 d-flex justify-content-end">
        <button
          (click)="handleMembersArr([], 'REMOVE', i)"
          pButton
          pRipple
          icon="fa fa-trash"
          class="btn rounded-circle p-2 custom-alignment text-white shadow d-flex justify-content-center bg-danger p-0"
        ></button>
        <button
          pButton
          pRipple
          icon="fa fa-plus"
          class="btn text-white bg-success rounded-circle ms-2 d-flex justify-content-center bg-success p-0"
          (click)="handleMembersArr([], 'ADD')"
        ></button>
      </div>
      <hr />
    </div>
  </div>
  <div class="w-100 d-flex justify-content-end">
    <button
      pButton
      pRipple
      label="Discard"
      (click)="reloadPage()"
      class="btn btn-warning me-2 mb-md-0 px-3 text-white"
      type="submit"
    ></button>
    <button
      pButton
      pRipple
      label="Confirm"
      (click)="handleMembersArr([], 'SUBMIT')"
      class="btn btn-success me-2 mb-md-0 px-3 text-white"
      type="submit"
    ></button>
  </div>
</div>
